@import 'vendor/rdp.styl'

html
  height 100%

body
  display flex
  flex-direction column
  height 100%

#root
  display flex
  flex-direction column
  flex 1

main
  flex 1

section
  padding 15px 0

