@import 'vendor/rdp.styl'

html, body, #root
  height 100%

#root
  display flex
  flex-direction column

main
  flex auto
  overflow auto

section
  padding 15px 0

footer
  flex-shrink 0
  box-shadow 0 0 5px rgba(0,0,0, 0.5)
  z-index 1
